@media screen and (max-width: 1400px){
  .image {
    margin-left: 40px;
    width: 700px !important;
  }
}

.MainName {
  font-size: 40px !important;
  font-weight: 700 !important;
  line-height: 48px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #00546B !important;
  margin-top: 100px !important;
}

.names {
  margin-top: 50px !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 29px !important;
  letter-spacing: 0.06em !important;
  text-align: left !important;
  color: #00546B !important;
}
.text {
  margin-top: 2px !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.06em !important;
  text-align: left !important;
  color: #000009 !important;
}
.textMargin {
  margin-top: 70px !important;
}
.image {
  margin-top: 10px !important;
}