.homeTop {
  background-image: url("./../../../src/assets/images/hometop.png");
  width: calc(100vw);
  max-height: 900px;
  background-size: cover;
}

.homeBottom {
  width: calc(100vw);
  background-color: #091636;
  color: #FCFCFC !important;
  margin-bottom: 220px;
  margin-top: 140px;
}

.buttonFirst {
  width: 210px !important;
  height: 62px !important;
  background-color: #656AE5 !important;
  opacity: 0.97 !important;
  box-shadow: 2px 6px 17px rgba(255, 255, 255, 0.27) !important;
  border-radius: 8px !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 27px !important;
  letter-spacing: 0.06em !important;
  color: #FCFCFC !important;
}

.buttonSecond {
  margin-left: 25px !important;
  width: 237px !important;
  height: 62px !important;
  background: #FEFEFE !important;
  opacity: 0.97 !important;
  box-shadow: 2px 6px 17px rgba(255, 255, 255, 0.27) !important;
  border-radius: 8px !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  letter-spacing: 0.06em !important;
  color: #656AE5 !important;
}

.bottomBlock {
  max-width: 337px;
  padding: 27px 27px 90px;
  max-height: 390px;
  background: #132348;
  border-radius: 11px;
}

.bottomBlockLight{
  max-width: 337px;
  padding: 37px 27px 90px;
  max-height: 390px;
  background-image: linear-gradient(to right, #132348, #2e3679, #5946aa, #9151d6, #d354fd);
  border-radius: 11px;
}

.bottomDiv {
  position: relative;
  top: 100px;
  padding: 25px 55px 90px;
  max-width: 1200px;
  height: 160px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 42px rgba(9, 22, 54, 0.22);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomButton {
  margin-top: 10px !important;
  font-weight: 500 !important;
  padding: 15px !important;
  background: #656AE5 !important;
  border-radius: 8px !important;
  font-size: 18px !important;
  line-height: 27px !important;
  color: #FCFCFC !important;
  text-transform: none !important;
}
