@media screen and (max-width: 1400px){
  .image {
    margin-left: 40px;
    width: 700px !important;
  }
}

.button {
  box-shadow: 2px 6px 17px rgba(0, 0, 0, 0.27) !important;
  background: #007C9E  !important;
  height: 52px  !important;
  width: 204px !important;
  border-radius: 8px  !important;
  font-size: 20px  !important;
  font-weight: 700  !important;
  line-height: 24px  !important;
  letter-spacing: 0.06em  !important;
  color: #FCFCFC !important;
  text-transform: none !important;
}

.button:after {
  border-radius: 8px  !important;
  content: "" !important;
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  top:0 !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  transition: all 0.5s !important;
  box-shadow: 0 0 10px 10px black !important;
}

.button:active:after {
  border-radius: 8px  !important;
  box-shadow: 0 0 0 0 black !important;
  position: absolute !important;
  left: 0 !important;
  top:0 !important;
  opacity: 1 !important;
  transition: 0s !important;
}

.button:active {
  top: 1px !important;
}