.headerTypography {
  text-decoration: none !important;
  font-size: 16px !important;
}

.button {
  text-transform: none !important;
  background-color: #EAF5F9 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #161D39 !important;
}